/*  your css code here. If applicable */
body{
  text-align:center;
  font-family:Arial;
  background:#f4f4f4;
}

#buttons{
  margin-top:50px;
}

button{
  padding:15px 25px;
  margin:10px;
  border:none;
  background:#3498db;
  color:white;
  font-size:16px;
  border-radius:5px;
  cursor:pointer;
}

.stop{
  background:#e74c3c;
}